<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Twitter Map</title>
    <style>
        html, body{
            height: 100%;
        }
        #map {
            height: 100%;
        }
    </style>

    <!-- Bootstrap core CSS and JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">    <style type="text/css">

        #topNavbar {
            margin-bottom: 0px;
            background-color:transparent;
        }
        #dropdown123 {
          background-color: transparent;
        }
         #search, #home123, #searchButton {
          background-color: transparent;
        }
    </style>
</head>

<body>

<!-- Static navbar -->
<!-- Static navbar -->
<nav id="topNavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TweetMap</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Keywords <span class="caret"></span></a>
                    <ul id="dropdown123" class="dropdown-menu">
                         <li><a href="javascript: queryKeyWord('glad');">glad</a></li>
                        <li><a href="javascript: queryKeyWord('lucky');">lucky</a></li>
                        <li><a href="javascript: queryKeyWord('happy');">happy</a></li>
                        <li><a href="javascript: queryKeyWord('excited');">excited</a></li>
                        <li><a href="javascript: queryKeyWord('wonderful');">wonderful</a></li>
                        <li><a href="javascript: queryKeyWord('upset');">upset</a></li>
                        <li><a href="javascript: queryKeyWord('bad');">bad</a></li>
                        <li><a href="javascript: queryKeyWord('terrible');">terrible</a></li>
                        <li><a href="javascript: queryKeyWord('unhappy');">unhappy</a></li>
                        <li><a href="javascript: queryKeyWord('sad');">sad</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <input id="search" type="text" class="form-control" id="keyword" placeholder="Type Keyword" >
                &nbsp&nbsp&nbsp
                &nbsp               
                 <button type="button" class="btn btn-primary" id="searchButton">Search</button>
            </form>
        </div>
    </div>
</nav>

{#<div class="container-fluid" style="height: 100%;">#}
{#    <div class="row" style="height: 100%;">#}
{#        <div class="col-xs-12 col-md-12 col-lg-12" id="map"></div>#}
{#    </div>#}
{#</div>#}


<div id="map"></div>

<script>
    // Create socket
    var socket;
    var interval;
    var timeInterval = 10000;

    function initMap() {
        // Init google map
        var columbia = {lat: 40.806, lng: -73.963};
        var map = new google.maps.Map(document.getElementById('map'), {
          center: columbia,
          zoom: 3,
          minZoom: 2,
          mapTypeControl: false,
          styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]
        });

        // An array to store all markers
        var googleMarkers = [];

        // Establish socket connection
        //socket = io.connect('http://' + document.domain + ':' + location.port);

        socket = io.connect(null, {port: location.port, rememberTransport:false});

        socket.on('connect', function(){
            setUpMap();
            console.log('Init');
        });

        socket.on('message', function(data){

            // Clear Map
            clearMarkers(googleMarkers);
            google.maps.event.clearInstanceListeners(map);

            // Parse JSON
            var data = JSON.parse(data);

            // Add markers to the locations
            var infowindow = new google.maps.InfoWindow({maxWidth: 200});
        
            for(var tweet of data['tweets']){
                var lng = tweet['location'][0];
                var lat = tweet['location'][1];
                //var latLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
                var v = 'doublecircle'
                var icon = {
                  url: '../static/'+ tweet['keyword'] + '.png',
                  scaledSize: new google.maps.Size(5, 5)
                };

                var marker = new google.maps.Marker({
                    position: {lat: lat, lng: lng},
                    map: map,
                    icon: icon
                });
                marker.data = tweet;

                marker.addListener('click', function() {
                    infowindow.setContent("<h4 style=\"color:Gray;\">" +this.data['user'] + "</h4>"
                     + "<p>"+ this.data['text'] +"</p>"
                     + "<p style=\"color:Gray;\">" + this.data['time'] + "</p>");
                    infowindow.open(map, this);
                    //map.setCenter(this.getPosition());
                });
                // Add markers to the array
                googleMarkers.push(marker);
            }

            google.maps.event.addListenerOnce(map, "click", function (e) {
              var lat = e.latLng.lat();
              var lon = e.latLng.lng();

              var js = {'location': [lat, lon]};
              if ('key' in data)
                js['key'] = data['key'];

              console.log('click map');

              clearInterval(interval);
              sendSocketMessage(JSON.stringify(js));
              interval = setInterval(sendSocketMessage, timeInterval, "happy");
            });

        });
    }


    // Function used to set up the map
    function setUpMap(){
        clearInterval(interval);
        sendSocketMessage("Init");
        interval = setInterval(sendSocketMessage, timeInterval, "Init");
    };

    // Send key selected key word to back end, using it to search for tweets
    function queryKeyWord(selectedWord){
        console.log(selectedWord);

        clearInterval(interval);

        sendSocketMessage(selectedWord);
        interval = setInterval(sendSocketMessage, timeInterval, selectedWord);
    };


    // Function used to clear all markers
    function clearMarkers(googleMarkers){
        for(var i = 0; i < googleMarkers.length; i++){
            googleMarkers[i].setMap(null);
        }
        googleMarkers.length = 0;
    }


    // Function used to send socket message
    function sendSocketMessage(message){
        socket.send(message);
        //console.log("Message Sent");
    }

    // Function handling the search
    $('#searchButton').on('click', function(){
        clearInterval(interval);
        var keyWord = $('#keyword').val();

        sendSocketMessage(keyWord);
        interval = setInterval(sendSocketMessage, timeInterval, keyWord);
    });

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6c1zns6rF4YOFlrwfBvRF6XI3g-uKfgU&callback=initMap">
</script>

<!-- <script src="../static/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</body>
</html>
